.chat-message {
  display: flex;
  max-width: 40%;
  margin: 8px;
  flex-direction: column;
  box-shadow: none;
}

.chat-message__user {
  font-size: 0.75rem;
  padding-left: 5px;
  color: rgb(138, 141, 145);
}

.chat-message__body {
  flex: 1;
  border-radius: 4px;
  padding: 8px 12px;
  word-break: break-word;
}

.message-sent {
  margin-left: auto;
}

.message-received {
  margin-right: auto;
}

.message-sent .chat-message__body {
  border-radius: 10px 10px 2px 10px;
  background-color: rgb(0, 132, 255);
  color: white;
}

.message-received .chat-message__body {
  border-radius: 8px 8px 8px 2px;
  background-color: rgb(228, 230, 235);
  color: rgb(5, 5, 5);
}