.button {
  font: inherit;
  border: 1px solid #560bad;
  background: #560bad;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.15rem;
  padding: 0.75rem 3.5rem;
}

.button:hover,
.button:active {
  background: #7209b7;
  border-color: #7209b7;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
